certifi==2019.6.16
chardet==3.0.4
idna==2.8
Pillow==8.1.1
pkg-resources==0.0.0
playsound==1.2.2
requests==2.22.0
ruamel.yaml==0.16.0
ruamel.yaml.clib==0.1.0
six==1.12.0
urllib3==1.25.3
vext==0.7.3
vext.gi==0.7.0
websocket-client==0.56.0
